h1{
  color:yellow;
  text-align:center;
  font-size: 60px
}
body {
   background-image: url("https://media.giphy.com/media/EYkKdcQ4XnV2E/giphy.gifs");
 }


 ul a {
    display: block;
    width: 60px;
}
